<h1>Breakable Toy Landing Page</h1>

<form action="/add" method="POST">
    <button>Add 'faker' address</button>
</form>

<% addressBook.forEach(function(entry) { 
    var fullName = entry.firstName + " " + entry.lastName %>
    <li><%= entry.id %> - <%= fullName %>, <%= entry.phoneNumber %></li>
<% }); %>